{% comment %} Generate an HTML file which lists the clients {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clients</title>
</head>
<body>
    <h1>Clients</h1>
    <h2>This is just a simple webapp that allows you to test if your infra supports hosting a "reliably simple" Docker image</h2>
    <ul>
        {% for client in clients %}
            <li>{{ client.name }}</li>
        {% empty %}
            <li>No clients found</li>
        {% endfor %}
    </ul>

    <hr />

    <h2>Create Client</h2>
    <form method="post">
        {% csrf_token %}
        {{form.errors}}
        {{form.as_p}}
        <button type="submit">Create</button>
    </form>
</body>